#app {
    text-align: center;
    color: #2c3e50;
}

html {
    overflow-y: scroll;
}

body {
    /* background: #f7f8f9; */
    color: #333;
    line-height: 1.8;
    position: relative;
}

.bg-white {
    background: white;
    max-width: max-content;
    position: relative;
}

.flex-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.foreground {
    z-index: 1;
}

.subtitle {
    color: #00244C;
}
