#app {
    text-align: center;
    color: #2c3e50;
}

html {
    overflow-y: scroll;
}

body {
    /* background: #f7f8f9; */
    color: #333;
    line-height: 1.8;
}

.flex-container {
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    justify-content: space-between;
}

.subtitle {
    color: #00244C;
}


/* ***************************************************************** navbar ************************************************************* */

.bg-navbar {
    background-color: #00244C;
}

#id_navbar {
    overflow: hidden;
}

#id_navbar li {
    list-style-type: none;
    float: left;
}

#id_navbar ul li a {
    font-size: 15px;
    padding: 20px 20px;
    transition-duration: 0.6s;
}

#id_navbar>ul>li.active>a {
    color: #00244C !important;
    background-color: transparent;
    transition: all 0.7s;
}

.horizontal_selector {
    top: 18px;
    left: 0px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 12px;
}

.horizontal_selector .right,
.horizontal_selector .left {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    bottom: 10px;
}

.horizontal_selector .right {
    right: -25px;
}

.horizontal_selector .left {
    left: -25px;
}

.horizontal_selector .right:before,
.horizontal_selector .left:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #00244C;
}

.horizontal_selector .right:before {
    bottom: 0;
    right: -25px;
}

.horizontal_selector .left:before {
    bottom: 0;
    left: -25px;
}

.dropdown-menu {
    padding: 0 !important;
    left: -20% !important;
    min-width: 0rem !important;
}


/* ***************************************************************** btn go up ************************************************************* */

.scroll-to-top-button {
    position: fixed;
    bottom: 60px;
    right: 30px;
    background-color: rgba(0, 0, 0, 0);
    color: #007BFF;
    border: none;
    border-radius: 5px;
}


/* ***************************************************************** footer ************************************************************* */

footer {
    background-color: #fff;
    border-top: 1px solid #e0e0e0;
    width: 100%;
}

.social {
    padding: 15px 0px 10px 0px;
    text-align: center;
}

.social a {
    padding-right: 12px;
}

.copyright {
    color: #74808a;
    margin: 0;
    text-align: center;
}


/* ***************************************************************** home page ************************************************************* */

.home-card {
    background-color: #e5effe;
    border-radius: 50px;
    box-shadow: 0 3px 12px rgba(162, 179, 203, 1);
    position: relative;
}

.home-situation {
    background: #cbe0fe;
    border: 3px solid #0a58ca;
    border-radius: 10px;
    color: #0a58ca;
    max-width: max-content;
    padding: 5px 50px;
}

.download-container {
    background: linear-gradient(45deg, #3acfd5, #3a4ed5);
    border-radius: 10px;
    height: 45px;
    width: 200px;
    position: relative;
}

.btn-download {
    background-color: #e5effe;
    border-radius: 7px;
    position: absolute;
    right: 3px;
    top: 3px;
    height: max-content;
    width: max-content;
    padding: 5px;
}

/* .download-container:hover {
    transform: translateY(-3px);
    box-shadow: 0 9px 15px rgba(0, 0, 0, 0.2);
} */

.download-container:hover .btn-download {
    background: linear-gradient(45deg, #3acfd5, #3a4ed5);
    color: white;
}


/* ***************************************************************** modal component ************************************************************* */

.vm-title {
    font-size: 1.25rem !important;
    font-weight: bold !important;
}

.vm-btn-close {
    color: #0D6EFD !important;
}

.vm {
    background-color: #f8f9fa !important;
    color: #2c3e50;
    top: 35% !important;
}

.vm-content {
    padding: 10px 15px 0px !important;
}


/* ***************************************************************** filter component ************************************************************* */

.multiselect__tag {
    background: #0D6EFD !important;
}

.multiselect__tag-icon {
    background: #0D6EFD !important;
}

.multiselect__option--highlight {
    background: #0D6EFD !important;
}


/* ***************************************************************** all projects page ************************************************************* */

.card_projects {
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card_projects:hover {
    transform: translateY(-3px);
    box-shadow: 0 9px 15px rgba(0, 0, 0, 0.2);
}

.text-intro a {
    color: #6c757d !important;
    text-decoration: none;
}

.div-img-technos {
    width: 30px;
}

.img-technos {
    max-height: 20px;
    max-width: 30px;
}


/* ***************************************************************** degrees page ************************************************************* */

.badge-degree {
    background-color: #00244C;
    /* border: 2px solid #f0f6fe; */
    border-radius: 30px;

    color: white;
    font-weight: bold;
    font-size: small;
    padding: 0px 12px;
}

.circle-degree {
    aspect-ratio: 1/1;
    background-color: #cbe0fe;
    border: 3px solid #cbe0fe;
    color: black;
    position: relative;
    width: 400px;
}

/* .circle-degree .subtitle {
    color: white;
} */

.circle-degree-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 30%;
    width: 100%;
    overflow: hidden;
}

.circle-degree-img img {
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
}

.circle-degree-description {
    padding-left: 15px;
}

.circle-degree-footer {
    padding: 0px 50px;
}

.place-degree {
    color: #cbe0fe;
}

.card-certification {
    background: linear-gradient(45deg, #cbe0fe, #f0f6fe);
    border: 3px solid #00244C;
    border-radius: 50px 0px;
    /* color: white; */
}

.logo-certification {
    border-radius: 30px;
    height: 70px;
    width: 70px;
}


/* ***************************************************************** experiences page ************************************************************* */

.card-experience {
    background: linear-gradient(45deg, #cbe0fe, #f0f6fe);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
}

@keyframes rotateIcon {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.vr {
    border-left: 4px solid #324f6f;
    height: 100%;
}

/* ------------------------------------ Company logo */
.img-experience {
    animation: rotateIcon 1.2s linear 1;
    width: 45px;
}

/* ------------------------------------ More details button */
@keyframes pushIcon {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(3px, -3px);
    }
}

.btn-more-details {
    color: #324f6f;
}

.btn-more-details:hover {
    color: #324f6f;
}

.btn-more-details:hover i {
    animation: pushIcon 1.2s ease forwards;
}

/* ------------------------------------ Card */
@keyframes slideToLeft {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.card-enter-right {
    animation: slideToLeft 1.2s ease-out;
}

@keyframes slideToRight {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.card-enter-left {
    animation: slideToRight 1.2s ease-out;
}